body {
  font-family: Arial, sans-serif;
  background-color: rgb(224, 224, 224);
}

h1 {
  color: rgb(7, 66, 114);
}

form {
  background-color: white;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px hsl(0, 0%, 0%, 0.4);
}

#textBox {
  text-align: center;
  font-size: 25px;
  max-width: 50%;
  margin-bottom: 15px;
  border: 2px solid hsl(0, 0%, 0%, 0.5);
  border-radius: 12px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 12px;
  background-color: white;
  margin-top: 15px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(230, 227, 227);
}

#result {
  font-size: 15px;
  font-weight: bold;
}
